    @import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
    @import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
/* RESETS */
* {margin:0;padding:0;line-height:1;}

/* GLOBAL STYLES */




/* LAYOUT */



body {
    background-color: #0b132b;
    font-family: "Sintony", sans-serif;
}
nav {
    background-color: #1c2541;
    padding: 2em;
}
.logo h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2.5em;
}
#page {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.slogan {
    background-color: #3a506b;
    padding: 1em 0;
    color: white;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.slogan h1 {
    text-align: center;
    text-transform: uppercase;
}
main {
    padding: 2em;
    background-color: #1c2541;
}
main div h6 a {
    font-size: 1.5em;
    color: white;
    margin-right: 1em;
    
}
main div h6 a:hover {
    color: #5bc0be;
}
main > div h2 {
    margin-bottom: 1em;
}
main > div {
    background-color: #3a506b;
    padding: 1em;
    margin-bottom: 2em;
    color: white;
}
.popularvent > div, .newsfromhashtag > div {
    padding: 1em;
    background-color: white;
    margin-bottom: 2em;
    color: black;
    margin-top: 1em;
    
}
aside > div {
    background-color: #3a506b;
    margin-top: 1em;
    color: white;
    padding: 2em;
}
aside > div ul li a {
    color: white;
}
aside > div ul li a:hover {
    color: #5bc0be;
}
aside > div ul {
    list-style: none;
    padding: 1em;
    margin-bottom: 1em;
}

footer {
background-color: black;
padding: 1em;
}

footer h4{
color: white;
text-align: center;
}

